<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title th:text="${title}"></title>
</head>
<body class="container bg-secondary text-light">


<nav th:replace="fragments :: navigation"></nav>

<div class="container skinny-top-pad">
    <div class="row center-div center-text">
        <div class="col"><h2>Confident with:</h2>
            <div>
                <img src="/images/spring.png" alt="Spring Boot" class="thumbnail">
            </div>
            <h6>Spring Boot</h6>
            <div>
                <img src="/images/thymeleaf.png" alt="Thymeleaf" class="thumbnail">
            </div>
            <h6>Thymeleaf</h6>
        </div>
            <div class="col"><h2>Limited Experience:</h2>
                <div>
                    <img src="/images/angular.png" alt="Angular" class="thumbnail">
                </div>
                <h6 class="center-text">Angular</h6>
            </div>

<!--        <div class="col"><h2>Exposed to:</h2>-->
<!--            <h6>jQuery</h6>-->
<!--        </div>-->
    </div>

</div>

</body>
</html>