<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<nav th:replace="fragments :: navigation"></nav>
<body class="container bg-secondary text-light">
    <p><a href="/skills/programming">Programming languages</a></p>
    <p><a href="/skills/frameworks">Frameworks</a></p>
    <p><a href="/skills/databases">Databases</a></p>
    <p><a href="/skills/other">Other</a></p>

</body>

<style>

.fat-top-pad{
    padding-top:100px;
}

.skinny-top-pad{
    padding-top: 30px;
}

.light-link{
    color: lightsteelblue;
}

.image-border{
    border: 10px solid #555;
    border-radius: 16px;

}
</style>

</html>