<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container bg-secondary text-light">

<nav th:replace="fragments :: navigation"></nav>

<h1>Tech Skills</h1>
<p><br></p>

    <div class="container">
        <p><a href="/skills/programming"><img src="/images/progLang.png" alt="Programming Languages" height="80"></a></p>
        <p><a href="/skills/frameworks"><img src="/images/frameworks.png" alt="Frameworks" height="80"></a></p>
        <p><a href="/skills/databases"><img src="/images/databases.png" alt="Databases" height="80"></a></p>
        <p><a href="/skills/other"><img src="/images/misc.png" alt="Other" height="80"></a></p>
    </div>

</body>

<style>

<!--.fat-top-pad{-->
<!--    padding-top:100px;-->
<!--}-->

<!--.skinny-top-pad{-->
<!--    padding-top: 30px;-->
<!--}-->

<!--.light-link{-->
<!--    color: lightsteelblue;-->
<!--}-->

<!--.image-border{-->
<!--    border: 10px solid #555;-->
<!--    border-radius: 16px;-->

<!--}-->
</style>

</html>