<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Skills</title>
</head>
<body class="container bg-secondary text-light">

<nav th:replace="fragments :: navigation"></nav>
<div style="display: flex; justify-content: center">
    <h1 class="center-text skinny-top-pad">Tech Skills</h1>
</div>

<!--    <div class="container">-->
        <div  class="medium-top-pad" style="display: flex; justify-content: center"><a href="/skills/programming"><img id="prog-langs" src="/images/progLang.png" alt="Programming Languages" height="80"></a></div>
        <div class="medium-top-pad" style="display: flex; justify-content: center"><a href="/skills/frameworks"><img id="frameworks" src="/images/frameworks.png" alt="Frameworks" height="80"></a></div>
        <div class="medium-top-pad" style="display: flex; justify-content: center"><a href="/skills/databases"><img id="databases" src="/images/databases.png" alt="Databases" height="80"></a></div>
        <div class="medium-top-pad" style="display: flex; justify-content: center"><a href="/skills/other"><img id="skills-misc" src="/images/misc.png" alt="Other" height="80"></a></div>
<!--    </div>-->

</body>
<script src="script.js"></script>
</html>