<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title th:text="${title}"></title>
</head>
<body class="container bg-secondary text-light">
<nav th:replace="fragments :: navigation"></nav>

<!--<div class="row bg-light" style="width: 600px; height: 50px; border-radius: 10px; margin: 0 auto">-->
<!--    <div class="col" style="padding: 15px"><h6><a href="/" class="bg-light" style="margin: 15px">Home</a></h6></div>-->
<!--    <div class="col" style="padding: 15px"><h6><a href="/info" class="bg-light" style="margin: 15px">About Me</a></h6></div>-->
<!--    <div class="col" style="padding: 15px"><h6><a href="/skills" class="bg-light " style="margin: 15px">Skills</a></h6></div>-->
<!--    <div class="col" style="padding: 15px"><h6><a href="/misc" class="bg-light " style="margin: 15px">Miscellaneous</a></h6></div>-->

<!--</div>-->


<div class="row center-text center-div" style="display: flex; justify-content: center">
    <h1 class="medium-top-pad">Programming Languages</h1>
    <div class="col-lg-4 skinny-top-pad">
        <h2>Confident with:</h2>
        <div>
            <img src="/images/javaTrans.png" alt="Java" class="thumbnail">
        </div>
        <h6>Java</h6>
        <div>
            <img src="/images/javascriptTrans.png" alt="JavaScript" class="thumbnail">
        </div>
        <h6>Javascript</h6>
    </div>
    <div class="col-lg-4 skinny-top-pad">
        <div>
            <h2>Limited Experience:</h2>
        </div>

        <div>
            <img src="/images/python.png" alt="Python" class="thumbnail">
        </div>
        <h6 class="center-text">Python</h6>

        <div>
            <img src="/images/kotlin.png" alt="Kotlin" class="thumbnail">
        </div>
        <h6 class="center-text">Kotlin</h6>


    </div>
    <div class="col-lg-4 skinny-top-pad">
        <h2 class="center=text">Exposed to:</h2>
        <div>
            <img src="/images/typescript.png" alt="Typescript" class="thumbnail">
        </div>
        <h6>Typescript</h6>

        <div>
            <img src="/images/swift.png" alt="Swift" class="thumbnail">
        </div>
        <h6>Swift</h6>
    </div>
</div>

</body>
</html>