.center-div{
    display: flex;
    justify-content: center;
}

.center-text{
    text-align: center;
 }

.thumbnail{

    height: 100px;
}

.fat-top-pad{
    padding-top:100px;
}

.medium-top-pad{
padding-top: 70px
}

.skinny-top-pad{
    padding-top: 30px;
}

.light-link{
    color: lightsteelblue;
}

.secret-link{
    color: white;
}

.image-border{
    border: 10px solid #555;
    border-radius: 16px;
}

.nav-space {
    padding: 20px
}

.nav-butt {
    padding: 15px;
    text-align: center;
    height: 50px;
    width: 0 auto;
    background-color: white;
    border-radius: 10px;
}

.hidden {
    visibility: hidden;
}