<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Information</title>
</head>
<body class="container bg-secondary text-light">

<nav th:replace="fragments :: navigation"></nav>

<h1>Education and Experience</h1>
<p><br></p>

    <div class="container">
        <p><a href="/info/education"><img src="/images/education.png" alt="Education" height="80"></a></p>
        <p><a href="/info/experience"><img src="/images/work.png" alt="Work" height="80"></a></p>
        <p><a href="/info/other"><img src="/images/misc.png" alt="Other" height="80"></a></p>
    </div>

</body>
</html>