<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title th:text="${title}"></title>
</head>
<body class="container bg-secondary text-light">

<nav th:replace="fragments :: nav">

</nav>

<div class="row">
    <div class="col-lg-4 skinny-top-pad">
        <div class="row">
            <div class="col">
                <h1>Jon B Bagby</h1>
                <h3>Full Stack Web Developer</h3>
            </div>
            <div class="col">
                <h2>Contact Information</h2>
                    <div class="container">
                        <table>
                            <tr>
                                <td>Phone: </td>
                                <td><a href="tel:6187921750" class="secret-link">618.792.1750</a></td>
                            </tr>
                            <tr>
                                <td>Email: </td>
                                <td><a href="mailto:bobagby78@gmail.com" class="light-link">bobagby78@gmail.com</a></td>
                            </tr>
                            <tr>
                                <td>Github: </td>
                                <td><a href="https://github.com/bobagby78" class="light-link">bobagby78</a></td>
                            </tr>
                            <tr>
                                <td>Linkedin: </td>
                                <td><a href="https://www.linkedin.com/in/jon-bagby-6766529b/" class="light-link">jon-bagby</a>
                                </td>
                            </tr>

                        </table>
                    </div>
            </div>
            <div class="col">
                <h4>Thirteen years as a high school Spanish teacher has helped me become a leader who thrives on bringing people together to collaborate. Transitioning to full time employment in the Tech field, focusing on full-stack development.</h4>
            </div>
        </div>

    </div>

    <div class="col-lg-4 skinny-top-pad">
        <img src="../images/jbbagby1.jpg" alt="Graduation Selfie" height="475" class="image-border">
    </div>

    <style>

    </style>

</div>

</body>
<style>

.fat-top-pad{
    padding-top:100px;
}

.skinny-top-pad{
    padding-top: 30px;
}

.light-link{
    color: lightsteelblue;
}

.secret-link{
    color: white;
}

.image-border{
    border: 10px solid #555;
    border-radius: 16px;

}
</style>
</html>